.custom-select-for-gens {

  &__control {
    background-color: white !important;
    text-decoration: none;
    margin-bottom: 0px;
    color: black !important;
    border-radius: 0 !important;
    box-shadow: 0 0 0 1px #5B5B5B !important;
    padding: 0px;
    padding-left: 5px;
    width: 250px;

    &--menu-is-open {
      border-color: black !important;
      border-radius: 0 !important;
    }

    &:hover {
      box-shadow: 0 0 0 1.3px #5B5B5B !important;
      border-color: black !important;
    }
    &:after {
      box-shadow: 0 0 0 1.3px #5B5B5B !important;
      border-color: black !important;
    }
  }

  &__value-container {
    padding: 0px !important;
    border-color: black !important;

    &--has-value {
      color: red;
    }

  }
  //&__input-container {
  //  font: 12px Arial, sans-serif !important;
  //  color: red;
  //
  //  &.css-6j8wv5-Input {
  //    color: red !important;
  //  }
  //}
  &__menu {
    background-color: white !important;
    color: black !important;
    border-color: black !important;
    border-radius: 0 !important;
    box-shadow: 0 0 0 0.8px #5B5B5B !important;
  }
  &__option {
    cursor: pointer !important;
    font: 11px Arial, sans-serif !important;
    color: black !important;
    background-color: white !important;
    &--is-focused {
      background-color: lighten(#E4CE97, 10%) !important;
    }
  }

  &__single-value.css-qc6sy-singleValue{
    font: bold 15px Arial, sans-serif !important;
    color: #282828;
  }
}