#frame8 {
	width: 1085px;
	height: 60px;

	padding: 2px;
	margin-top: 15px;
	margin-left: 10px;
	margin-bottom: 10px;
	background: white;
	box-shadow: 0 0 0 1px black;
	display: inline-block;
}
#frame9 {
	width: 1085px;
	/*height: 666px;*/
    height: 746px;

	padding: 2px;
	margin-left: 10px;
	margin-bottom: 10px;
    margin-top: 10px;
	background: white;
	box-shadow: 0 0 0 1px black;
	display: inline-block;
    overflow-y: scroll;
}

.text-field-open {
	padding-bottom: 15px;
	padding-top: 13px;


}
/* стили для input */
.text-field__input-open {
  display: inline-block;
	margin-top: -2px;
	margin-left: 8px;
  padding: 7px 0;
	padding-left: 10px;
  width: 450px; /* 95% */
  height: 20px;
  font: bold 14px Arial, sans-serif;
  color: #212529;
  background-color: #fff;
  border: 1px solid black;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.text-field__input-open::placeholder {
  color: #212529;
}
.text-field__input-open:focus {
  color: #212529;
  background-color: #fff;
  border-color: black;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.closing-button-search- {
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  margin-top: 7px;
	background-color: #AD7C4F;
  color: white;
  box-shadow: 0 0 0 1px black;
  padding: 10px 0;
  width: 90px;
	height: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
}
.closing-button-search- span {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 5;
}
.closing-button-search-:hover span {
  font-family: 'Montserrat', sans-serif;
  position: relative;
	color: white;
  z-index: 5;
}
.closing-button-search-:before, .closing-button-search-:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.closing-button-search-:before {
  transform: translateX(-100%);
}
.closing-button-search-:after {
  background: #906A47;
  transform: translateX(100%);
}
.closing-button-search-:hover:before, .closing-button-search-:hover:after {
  transform: translateX(0);
}


.table-sortable th {
  cursor: pointer;
  text-decoration: none;
  font: bold 14px Arial, sans-serif;
}
.table-sortable .th-sort-asc::after {
  content: "\25b4";
}
.table-sortable .th-sort-desc::after {
  content: "\25be";
}
.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}
.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}
.table-sortable td {
  text-decoration: none;
  font: 12px Arial, sans-serif;
}
.table-sortable tbody {
    display: block;
    margin-left: 10px;
    width: 1060px;
    height: 620px;
    overflow-y: scroll;
}
.table-col-name {
  display: inline-block;
  width: 150px;
  height: auto;
}
.table-col-description {
  display: inline-block;
  width: 550px;
  height: auto;
}
.table-col-date {
  display: inline-block;
  width: 110px;
  height: auto;
}
.table-col-full_description {
  display: inline-block;
  width: 115px;
  height: auto;
}
.table-col-open {
  display: inline-block;
  width: 95px;
  height: auto;
}

.closing-button-c {
  text-decoration: none;
  display: inline-block;
  margin: 10px;
	background-color: #027ED9;
  color: white;
  box-shadow: 0 0 0 1px black;
  padding: 8px 0;
  width: 85px;
	height: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
}
.closing-button-c span {
  position: relative;
  text-decoration: none;
  font: 11px Arial, sans-serif;
  z-index: 5;
}
.closing-button-c:hover span {
  font-family: 'Montserrat', sans-serif;
  position: relative;
	color: white;
  z-index: 5;
}
.closing-button-c:before, .closing-button-c:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.closing-button-c:before {
  transform: translateX(-100%);
}
.closing-button-c:after {
  background: #0163AA;
  transform: translateX(100%);
}
.closing-button-c:hover:before, .closing-button-c:hover:after {
  transform: translateX(0);
}

.delete-btn {
  background-color: #B70000;
  color: white;
  box-shadow: 0 0 0 1px black;
  padding: 10px 0;
  width: 90px;

  margin-left: 28px;
  margin-top: 10px;
  font: bold 12px Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: none;
  cursor: pointer;
}
.delete-btn:hover, .delete-btn:focus {
  background-color: #8D0101;
}

.open-btn {
  background-color: #027ED9;
  color: white;
  box-shadow: 0 0 0 1px black;
  padding: 10px 0;
  width: 90px;

  margin-left: 28px;
  margin-top: 10px;
  font: bold 12px Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: none;
  cursor: pointer;
}
.open-btn:hover, .open-btn:focus {
  background-color: #0163AA;
}

.closing-button-ch {
  text-decoration: none;
  display: inline-block;
  margin: 10px;
	background-color: #D99D02;
  color: white;
  box-shadow: 0 0 0 1px black;
  padding: 8px 0;
  width: 105px;
	height: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
}
.closing-button-ch span {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  text-decoration: none;
  font: 11px Arial, sans-serif;
  z-index: 5;
}
.closing-button-ch:hover span {
  font-family: 'Montserrat', sans-serif;
  position: relative;
	color: white;
  z-index: 5;
}
.closing-button-ch:before, .closing-button-ch:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.closing-button-ch:before {
  transform: translateX(-100%);
}
.closing-button-ch:after {
  background: #AD7D00;
  transform: translateX(100%);
}
.closing-button-ch:hover:before, .closing-button-ch:hover:after {
  transform: translateX(0);
}

/* СТИЛИ ДЛЯ ТАБЛИЦЫ */
th.ant-table-cell {
  font: bold 15px Arial, sans-serif;
  text-align: center !important;
}
td.ant-table-cell {
  font: 12px Arial, sans-serif;
}

.modalOverlay5 {
  /*display: none; !* Hidden by default *!*/
  position: fixed; /* Stay in place */
  z-index: 15; /* Sit on top */
  padding-top: 3%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modalWindow5 {
  width: 530px;
  height: 257px;
  /*padding: 0px;*/
  background: #FCF2DA;

  position: relative;
  margin: auto;
  border: 5px solid #E4CE97;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  /*z-index: 20;*/
  padding-right: 12px;
  z-index: 100;
}
.modalHeader5,
.modalBody5,
.modalFooter5 {
  padding: 0 0;
}
.modalHeader5 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}
.modalTitle5 {
  font-weight: bold;
}
.modalFooter5 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.modalFooter5 button:last-child {
  margin-left: 10px;
}

.react-bootstrap-table table thead th {
  font: bold 15px Arial, sans-serif;
  text-align: center !important;
  vertical-align: middle !important;
  /*position: fixed;*/
  background-color: white;
  /*padding-right: 500px;*/
  /*padding-bottom: 100px;*/
}

th.sortable {vertical-align: middle !important;}
.react-bootstrap-table table tbody td {
  font: 14px Arial, sans-serif;
}

.react-bootstrap-table table tbody tr:hover {
  color: #600A0A;
  background-color: #FCF2DA;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}

/*text-filter-column-description*/
/*.filter {*/
/*  background-color: red;*/
/*}*/

.text-filter{
  display: inline-block;
  margin-top: -2px;
  margin-left: 8px;
  padding: 7px 0;
  padding-left: 10px;
  width: 80%; /* 95% */
  height: 20px;
  font: 12px Arial, sans-serif;
  color: #212529;
  background-color: #fff;
  border: 1px solid black;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.text-filter::placeholder {
  color: #212529;
}
.text-filter:focus {
  color: #212529;
  background-color: #fff;
  border-color: black;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

/*.react-bootstrap-table table thead {*/
/*  display: block;*/
/*  white-space: normal;*/
/*  height: 70px;*/
/*}*/
/*.react-bootstrap-table table tbody {*/
/*  display: block;*/
/*  width: 2%;*/
/*  height: 585px;*/
/*  white-space: normal;*/
/*  overflow-y: scroll;*/
/*}*/